@model PPPK.ViewModels.TravelOrderViewModel

<h2>Travel Order</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.TravelOrder.IDTravelOrder)

        <div class="form-group">
            @Html.LabelFor(model => model.TravelOrder.DriverID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TravelOrder.DriverID, new SelectList(Model.Drivers, "IDDriver", "FirstName", Model.TravelOrder.DriverID), new { @class="form-control" })                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TravelOrder.VehicleID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TravelOrder.VehicleID, new SelectList(Model.Vehicles, "IDVehicle", "Type", Model.TravelOrder.VehicleID), new { @class="form-control" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TravelOrder.TravelOrderTypeID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TravelOrder.TravelOrderTypeID, new SelectList(Model.TravelOrderTypes, "IDTravelOrderType", "Type", Model.TravelOrder.TravelOrderTypeID), new { @class="form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TravelOrder.CityStartId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TravelOrder.CityStartId, new SelectList(Model.Cities, "IDCity", "Name", Model.TravelOrder.CityStartId), new { @class="form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TravelOrder.CityEndId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TravelOrder.CityEndId, new SelectList(Model.Cities, "IDCity", "Name", Model.TravelOrder.CityEndId), new { @class="form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TravelOrder.ExpectedNumberOfDays, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TravelOrder.ExpectedNumberOfDays, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TravelOrder.ExpectedNumberOfDays, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TravelOrder.ReasonForTravel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TravelOrder.ReasonForTravel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TravelOrder.ReasonForTravel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TravelOrder.TotalCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TravelOrder.TotalCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TravelOrder.TotalCost, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}
