@model IEnumerable<PPPK.Models.ServiceInfo>

<p>
    <input type="hidden" value="@ViewBag.VehicleID" name="VehicleID"/>
    <button class="btn btn-default" id="btnCreate">Create New</button>
</p>
@if (Model.Count() > 0)
{
    <table class="table table-condensed table-hover" id="services-table" style="width:100%">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatetimeService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.DatetimeService.Value.ToString("dd.MM.yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.HiddenFor(m => item.IDService)
                    <a href="#" onclick="javascript:return false;" class="btnEdit">Edit</a> |
                    <a href="#" onclick="javascript:return false;" class="btnDelete">Delete</a>
                </td>
            </tr>
        }

    </table>
}